@media all and (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media all and (max-width: 768px) {
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            display: none;
        }
    }
    .promo {
        min-height: 500px;
        &__wrapper {
            margin-top: 75px;
        }
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 10px;
        }
        &__items {
            width: 335px;
        }
    }

    .benefits {
        &__items {
            flex-direction: column;
            margin-top: 45px;
        }
        &__item {
            margin: auto;
            margin-top: 30px;
            max-width: 90%;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__text {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 375px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 40px;
        }
        &__items {
            width: 315px;
            justify-content: center;
        }
    }
}