@import 'base/_variables.scss';
@import 'base/media.scss';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_titles.scss';
@import 'blocks/benefits';

