.button {
    width: 153px;
    height: 32px;
    background: $color-main;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 20px #ffffff;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        margin-top: 67px;
    }
    &_submit {
        width: 300px;
        height: 50px;
        background: $color-main;
        font-size: 16px;
    }
    &_mini {
        width: 135px;
        height: 45px;
        font-size: 14px;
    }
}