@media all and (max-width: 768px) {
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            display: none;
        }
    }
}

@media all and (max-width: 375px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
    }
}